body{ /*Cambiem el tipos de font ho centrem tot tant vertical com horitzontalment, i canviem el fons a un color*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;    
    background-color: rgb(207, 253, 163);
}

form{/*Li donem un heigh width aliniem al centre li canviem el color de fons li donem una ombra al voltant li donem un border radious i li donem color al text*/
    text-align: center;
    height: 92%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: rgb(207, 253, 163);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.input{/*Li donem un heigh width aliniem al centre li canviem el color de fons li donem una ombra al voltant li donem un border radious i li donem color al text*/
    width: 250px;
    height: 40px;
    border: solid 2px rgb(207, 253, 163);
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: rgb(28, 28, 28);
}

.input:hover{ /* Al fer hover per sobre l'input li canviem l'ombra*/
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
}

.input:active{ /* Al clicar sobre l'input li canviem tambe l'ombra*/
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.input:focus{ /*Al clicar li canviem l'ombra i li treiem l'estil outline prederminat*/
    background-color: rgb(207, 253, 163);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

#button{ /* Canviem el color del boto el tamany de la font li posem una ombra, l'aliniem i li donem un radi al border*/
    font-weight: bold;
    color: rgb(164, 212, 119);
    width: 250px;
    height: 40px;
    border: none;
    background-color: rgb(213, 255, 173);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#button:hover{ /*Canviem la obra i el color de fons en passar el ratoli per sobre*/
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(207, 253, 163);
}

#button:active{ /*Canviem la obra i el color de fons en passar en clicar*/
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(190, 244, 139);
}

#dropdown{ /*Canviem la obra i el color de fons en passar el ratoli per sobre*/
    font-weight: bold;
    color: rgb(164, 212, 119);
    width: 250px;
    height: 40px;
    border: solid 2px rgb(207, 253, 163);
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#dropdown:hover{ /*Canviem lobra en passar per sobre*/
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
}

#dropdown:focus{/*Li treiem l'outiline en focus*/
    outline: none;
}

#checkboxContainer{ /*Li canviem color tamany de text centrat...*/
    font-weight: bold;
    color: rgb(207, 253, 163);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#radioContainer{ /*Li canviem color tamany de text centrar...*/
    font-weight: bold;
    color: rgb(207, 253, 163);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inp{ /*Li treu el marge de dalt i abaix als checkbox i radio*/
    margin-top: 0px;
    margin-bottom: 0px;
}

#description{ /*Li donem width height color border color radio...*/
    font-weight: bold;
    border: solid 2px rgb(207, 253, 163);
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

#description:focus{ /*En focus canviem el color de fons la obra i li treiem outline*/
    background-color: rgb(207, 253, 163);
    outline: none;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

#button2{ /*El mateix que l'altre boto pero amb display flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(164, 212, 119);
    width: 250px;
    height: 40px;
    border: none;
    background-color: rgb(213, 255, 173);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#button2:hover{ /*Canviem la obra i el color de fons en passar el ratoli per sobre*/
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(207, 253, 163);
}

#button2:active{ /*Al clicar li canviem l'ombra i li treiem l'estil outline prederminat*/
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(190, 244, 139);
}