/*1. color general de la lletra negra*/
body > #container{
    color: black;
}

/*2. titol nivell 1 fons blanc lletra gris*/
h1#titol-pagina{
    background-color: white;
    color: grey;
}

/*3. tots els strong en color verd i subratllats*/
p.paragraf1 strong, p.paragraf2 strong{
    color: green;
    text-decoration: underline;
}


/*4. enllaços del paràgraf2 en italica*/
p.paragraf2 a{
    font-style: italic;
}


/*5. footer general del web centrat i lletra de 10px*/
footer{
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*6. Canvia l'ordre de càrrega dels fitxers i mira què passa. Sabries modificar el teu codi per a que se seguís veient igual que abans de canviar l'ordre?*/
/*En el meu cas no afecta, i es veu igual, ja que he optimitzat el css fent servir correctament l'ordre de prioritat, encara així, jo el que faria seria fer un unic arxiu css.*/