/*1. color general de la lletra negra*/
p{
    font-weight: bold;
}

/*2. titol nivell 1 fons blanc lletra gris*/
.nivell1{
    background-color: white;
    color: grey;
}

/*3. tots els strong en color verd i subratllats*/
strong{
    color: green;
    text-decoration: underline;
}


/*4. enllaços del paràgraf2 en italica*/
.paragraf2{
    font-style: italic;
}


/*5. footer general del web centrat i lletra de 10px*/
footer{
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*6. Canvia l'ordre de càrrega dels fitxers i mira què passa. Sabries modificar el teu codi per a que se seguís veient igual que abans de canviar l'ordre?*/
/*En el meu cas no afecta, i es veu igual, pero soposo que en altres dispositius es podrien no carregar alguns estils o de manera incorrecte, jo el que faria seria fer un unic arxiu css
per aquesta pagina.*/